
.add-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px auto;
  max-width: 600px;

  div {
    width: 100%;
    max-width: 350px;
  }
}

.input {
  border-radius: 30px;
  outline: none;
  padding: 0 20px;
  width: 100%;
  max-width: 350px;
  min-height: 38px;
  border: 2px solid transparent;
  background: #444;
  color: #fff;
  transition-duration: 0.5s;
  font-size: 16px;

  &:focus {
    border: 2px solid #00ff7f;
    transition-duration: 1s;
  }

  &.true {
    border: 2px solid #dc143c;
  }
}

.noTodo {
  margin: 10px 0 0;
  color: #dc143c;
  text-align: center;
  transition-duration: 0.5s;
}

.noTodos {
  font-size: 30px;
  color: #00ff7f;
  text-align: center;
}

ol {
  max-width: 600px;
  margin: 0 auto;
}

.li {
  margin: 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  max-width: 600px;

  &.true {
    text-decoration: line-through;
    color: #dc143c;
  }
}

.button {
  border: none;
  background: #444;
  color: #00ff7f;
  border-radius: 30px;
  font-weight: 700;
  transition-duration: 0.5s;
  padding: 5px;
  height: 38px;
  width: 38px;

  span {
    display: block;
    width: 28px;
    height: 28px;
  }

  &-delete {
    background: url("./../../../assets/remove.svg") center/contain no-repeat;
  }
  
  &-add {
    background: url("./../../../assets/add.svg") center/contain no-repeat;
  }

  &:hover {
    opacity: 0.7;
    transition-duration: 0.5s;
  }
}
