<main>
  <section class="app">
    <h1>cosas por hacer</h1>
    <div class="add-container">
      <div>
        <input
          [(ngModel)]="toDo"
          class="input {{ noToDo }}"
          type="text"
          placeholder="Tienes algo por hacer?..."
        />
        <p class="noTodo" *ngIf="noToDo">💥 El campo es requerido 💥</p>
      </div>
      <button (click)="addToDos(toDo)" type="button" class="button">
        <span class="button-add"></span>
      </button>
    </div>

    <p class="noTodos" *ngIf="arrToDos.length === 0">
      No tenemos nada que hacer 😪🙈
    </p>
    
    <ol>
      <li
        *ngFor="let do of arrToDos; index as i"
        class="li {{ do.isCompleted }}"
        (click)="doneTodo(i)"
      >
        {{ i + 1 }}. {{ do.content }}
        <button class="button" (click)="deleteToDo(i)">
          <span class="button-delete"></span>
        </button>
      </li>
    </ol>
  </section>
</main>
