main {
  width: 100%;
  height: auto;
  font-family: monospace;
}

.app {
  width: 100%;
  color: #fff;
  max-width: 1200px;
  margin: auto;
  padding: 70px 24px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}
