<main>
  <section class="app">
    <h1>cosas por hacer</h1>
    <div class="add-container">
      <input
        [(ngModel)]="toDo"
        #inputToDo="ngModel"
        class="input"
        type="text"
        required
      />
      <button (click)="addToDos(toDo)" type="button" class="button">
        <span class="button-add"></span>
      </button>
    </div>

    <!-- <p *ngIf="inputToDo.valid === false" class="noTodo">
      ❌ El campo no debe estar vacio
    </p> -->

    <p class="noTodo" *ngIf="arrToDos.length === 0">
      No tenemos nada que hacer 😪🙈
    </p>

    <div *ngFor="let do of arrToDos; index as i">
      <ol class="li {{ do.isCompleted }}">
        <li (click)="doneTodo(i)">{{ i + 1 }}. {{ do.content }}</li>
        <button class="button" (click)="deleteToDo(i)">
          <span class="button-delete"></span>
        </button>
      </ol>
    </div>
  </section>
</main>
